teste.txt
testtk.py
textEditor.py
utils\__pycache__
main.spec
ui\__pycache__
logs
core\
build
.venv/
__pycache__/
*.pyc
build\main
build
build\main
build\main\warn-main.txt
build\main\PYZ-00.toc
build\main\PYZ-00.pyz
build\main\xref-main.html
build\main\PKG-00.toc
build\main\main.pkg
build\main\EXE-00.toc
build\main\base_library.zip
build\main\Analysis-00.toc
build\main\localpycs
logs\editor.log